form {
  width: 100vw;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

img, canvas, .hidden {
  display: none;
}

input[type='text'] {
  width: 50%;
}

.pixel {
  width: 1px;
  height: 1px;
}

.row {
  display: flex;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: none;
}

td {
  padding: 0px;
}


#messages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#loading {
  background-color: lightgreen;
}

.flex-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}